body{
	background-color: #E0E0E0;
}
.createAppBox{
	margin:15px;
	border: solid 1px rgb(228, 228, 228);
	padding: 10px;
}
.appList{
	width: 50%;
}
.app{
	margin-bottom: 1em;
	border: solid 1px rgb(195, 195, 195);
	padding: 1em;
	border-radius: 2px;
	background-color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.app:nth-child(2n){
	background-color: #4557B3;
  color: #fff;
}
